.firstblock {

    background-color: rgba(182, 197, 211, 0.877);
    background-attachment: fixed;
    overflow-y: scroll;
    width: 1300px;
    height: 500px;
    border: 1px groove black;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}

.block1 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
.block2 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
.block3 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
.block4 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
.block5 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
.block6 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
.block7 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
.block8 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
.block9 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
.block10 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
.block11 {
    display: inline-block;
    background-color: rgba(197, 160, 40, 0.644);
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 10px rgb(53, 51, 51);
    box-sizing: content-box;
    padding: 10px;
}
